<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="sim_mode" default="false"/>

    <!--URDF zakladny robota -->
    <xacro:include filename="robot_base.xacro" />
    <!--URDF rpi radaru na robotovi -->
    <xacro:include filename="lidar.xacro" />
    <!--URDF predni kamery na robotovi -->
    <xacro:include filename="camera.xacro" />

    <!--podminka pro vyuziti ros2_control nebo gazebo_control-->
    <!--knihovny pro popis a reseni pohybu simulovaneho nebo realneho robota-->

    <xacro:include filename="ros2_control.xacro" />
    
    
</robot>